---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import WhyManso from '../components/WhyManso.astro';
import MenuSection from '../components/MenuSection.astro';
import InstagramStories from '../components/InstagramStories.astro';
import Location from '../components/Location.astro';
import Footer from '../components/Footer.astro';
import CartDrawer from '../components/CartDrawer.astro';
---
<Layout>
  <Header />
  <main>
    <Hero />
    <WhyManso />
    <MenuSection />
    <InstagramStories />
    <Location />
  </main>
  <Footer />
  <CartDrawer />

  <script src="../scripts/app.js"></script>
</Layout>
